<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <akka>
    <hocon>
      <![CDATA[
          lighthouse{
              actorsystem: "AkkaClusterSystem"
          }

          petabridge.cmd{
	            host = "0.0.0.0"
	            port = 9110
          }
          
          akka {
            
            actor {
                provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            }
            
            remote {
                log-remote-lifecycle-events = DEBUG
                dot-netty.tcp {
                    #transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
                    #applied-adapters = []
                    #transport-protocol = tcp
                    #public-hostname = "POPULATE STATIC IP HERE"
                    hostname = "127.0.0.1"
                    port = 4053
                }
            }            

            cluster {
              seed-nodes = ["akka.tcp://AkkaClusterSystem@127.0.0.1:4053"] 
              roles = [lighthouse]
            }
            
          }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>