<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            stdout-loglevel = DEBUG
            #loggers = ["akka.event.Logging$DefaultLogger"]
            loggers = ["AkkaNetCustomLogger.Loggers.FileLogger, AkkaNetCustomLogger"]
            logfilepath = "logfile.txt"
            loglevel = DEBUG
            log-config-on-start = on
        
            actor {
              provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              
              debug {
                receive = on # log any received message
                autoreceive= on # log automatically received messages, e.g. PoisonPill
                lifecycle = on # log actor lifecycle changes
                event-stream = on # log subscription changes for Akka.NET event stream
                unhandled = on # log unhandled messages sent to actors
              }
              
              deployment {
                /ClusterListener {
                  router = round-robin-pool # routing strategy
                  routees.paths = ["/user/ClusterListener"]
                  nr-of-instances = 10 # max number of total routees
                  cluster {
                     enabled = on
                     allow-local-routees = on
                     #use-role = math
                     max-nr-of-instances-per-node = 10
                  }
                }
              }
              
            }
            
            remote {
              #log-remote-lifecycle-events = DEBUG
              enabled-transports = ["akka.remote.dot-netty.tcp", "akka.remote.dot-netty.udp"]
              dot-netty.tcp {
                transport-class = "Akka.Remote.Transport.DotNetty.DotNettyTransport, Akka.Remote"
                #transport-class = "Akka.Remote.Transport.AkkaIO.AkkaIOTransport, Akka.Remote"
                #applied-adapters = []
                transport-protocol = tcp
                port = 55651
                hostname = "localhost"        
                #public-hostname = "localhost"
              }
              log-remote-lifecycle-events = INFO
            }
            
            
            
            
            cluster {
              seed-nodes = ["akka.tcp://ClusterSystem@localhost:2553", "akka.tcp://ClusterSystem@localhost:2552"]
              #auto-down-unreachable-after = 30s
            }
            
          }
      ]]>
    </hocon>
  </akka>

</configuration>